* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

.dashboard {
    padding: 24px;
    display: grid;
    grid-template-rows: 1fr 10fr;
    gap: 24px;
}

.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.justify-between {
    justify-content: space-between;
}

#logoutBtn {
    background-color: #ce2029;
    border: 1px solid gray;
    color: white;
    padding: 12px;
    border-radius: 12px;
    cursor: pointer;
}

.form-container {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    height: 100vh;
    width: 560px;
}

a {
    margin: 10px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1px;
}

input {
    padding: 12px;
    font-size: 11pt;
    border-radius: 12px;
    border: 1px solid gray;
}

.form-button {
    padding: 12px;
    border-radius: 8px;
    background-color: #0041c2;
    color: white;
    border: 1px solid gray;
}